---
// src/components/layout/Header.astro
---

<nav class="site-nav">
  <a class="nav-logo" href="/">Home()</a>
  <ul class="nav-links">
    <li>
      <a href="/about/">
        <span class="nav-icon">◇</span> About()
      </a>
    </li>
    <li>
      <a href="/portfolio/">
        <span class="nav-icon">□</span> Portfolio()
      </a>
    </li>
    <li>
      <a href="/personal-projects/">
        <span class="nav-icon">▷</span> PersonalProjects()
      </a>
    </li>
  </ul>
</nav>
